<div class="col-xs-12">
pepepee
    <div class="reg-form-2-wrap">
        <form{{ attributes.addClass('user-login') }}>
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="main-head">Auktionsplattform</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <label class="gen-reg-label-small">Uber diese Auktionsplattform werden Beton und andere Baumaterialien en Grosgehandelt. Erstellen Sie eine Auktion fur den Besten Preis oder unterbieten Sieihre Mittbewerber fur die Besten Auftrage.</label>
                </div>
            </div>
            {{ form.name['#title'] }}
            <div class="row mrgn-top-30">
                <div class="row mrgn-top-30">
                    <div class="col-xs-3">
                        <label class="gen-reg-label">  </label>
                    </div>
                    <div class="col-xs-9">
                        {{ form.name. }}
                    </div>
                </div>
            </div>
            <div class="row">
                {{ form.pass }}
                <label class="gen-reg-label-pass"><a href="{{ base_url }}/user/password" class="reg-terms-anch">Passwort vergessen</a></label>
            </div>
            {{ form.form_build_id }}
            {{ form.form_id }}
            <div class="row mrgn-top-30">
                <div class="col-xs-12">
                    {{ form.actions }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <label class="gen-reg-label-small">Noch kein Konto? <a href="{{ base_url }}/user/register" class="reg-terms-anch">Hier registrieren</a></label>
                </div>
            </div>
        </form>
    </div>
</div>
