{#
/**
 * @file
 * Theme override for the content of an administrative block.
 *
 * Available variables:
 * - content: A list containing information about the block. Each element
 *   of the array represents an administrative menu item, and must at least
 *   contain the keys 'title', 'link_path', and 'localized_options', which are
 *   passed to l(). A 'description' key may also be provided.
 * - attributes: HTML attributes to be added to the element.
 * - compact: Boolean indicating whether compact mode is turned on or not.
 *
 * @see template_preprocess_admin_block_content()
 */
#}
{%
  set classes = [
    'admin-list',
    compact ? 'compact',
  ]
%}

<div class="bg-white">
  {% if content %}
    <ul{{ attributes.addClass(classes) }}>
      {% for item in content %}
        {% if (item['title'] == "Block layout") %}
          <li><a href="{{ item.url }}">
            <i class="fa fa-th"></i>
            <div class="structure-wrap">
              <span class="label">{{ item.title }}</span>
              <div class="description">{{ item.description }}</div>
            </div>
          </a></li>

        {% elseif (item['title'] == "Comment types") %}
          <li><a href="{{ item.url }}">
            <i class="fa fa-comments"></i>
            <div class="structure-wrap">
              <span class="label">{{ item.title }}</span>
              <div class="description">{{ item.description }}</div>
            </div>
          </a></li>

        {% elseif (item['title'] == "Contact forms") %}
          <li><a href="{{ item.url }}">
            <i class="fa fa-address-card-o"></i>
            <div class="structure-wrap">
              <span class="label">{{ item.title }}</span>
              <div class="description">{{ item.description }}</div>
            </div>
          </a></li>

        {% elseif (item['title'] == "Content types") %}
          <li><a href="{{ item.url }}">
            <i class="fa fa-book"></i>
            <div class="structure-wrap">
              <span class="label">{{ item.title }}</span>
              <div class="description">{{ item.description }}</div>
            </div>
          </a></li>

        {% elseif (item['title'] == "Display modes") %}
          <li><a href="{{ item.url }}">
            <i class="fa fa-television"></i>
            <div class="structure-wrap">
              <span class="label">{{ item.title }}</span>
              <div class="description">{{ item.description }}</div>
            </div>
          </a></li>

        {% elseif (item['title'] == "Menus") %}
          <li><a href="{{ item.url }}">
            <i class="fa fa-bars"></i>
            <div class="structure-wrap">
              <span class="label">{{ item.title }}</span>
              <div class="description">{{ item.description }}</div>
            </div>
          </a></li>

        {% elseif (item['title'] == "Taxonomy") %}
          <li><a href="{{ item.url }}">
            <i class="fa fa-sitemap"></i>
            <div class="structure-wrap">
              <span class="label">{{ item.title }}</span>
              <div class="description">{{ item.description }}</div>
            </div>
          </a></li>

        {% elseif (item['title'] == "Views") %}
          <li><a href="{{ item.url }}">
            <i class="fa fa-eye"></i>
            <div class="structure-wrap">
              <span class="label">{{ item.title }}</span>
              <div class="description">{{ item.description }}</div>
            </div>
          </a></li>

        {% elseif (item['title'] == "Available updates") %}
          <li><a href="{{ item.url }}">
            <i class="fa fa-refresh"></i>
            <div class="structure-wrap">
              <span class="label">{{ item.title }}</span>
              <div class="description">{{ item.description }}</div>
            </div>
          </a></li>

        {% elseif (item['title'] == "Recent log messages") %}
          <li><a href="{{ item.url }}">
            <i class="fa fa-envelope-open-o"></i>
            <div class="structure-wrap">
              <span class="label">{{ item.title }}</span>
              <div class="description">{{ item.description }}</div>
            </div>
          </a></li>

        {% elseif (item['title'] == "Field list") %}
          <li><a href="{{ item.url }}">
            <i class="fa fa-list"></i>
            <div class="structure-wrap">
              <span class="label">{{ item.title }}</span>
              <div class="description">{{ item.description }}</div>
            </div>
          </a></li>

        {% elseif (item['title'] == "Status report") %}
          <li><a href="{{ item.url }}">
            <i class="fa fa-flag"></i>
            <div class="structure-wrap">
              <span class="label">{{ item.title }}</span>
              <div class="description">{{ item.description }}</div>
            </div>
          </a></li>

        {% elseif (item['title'] == "Top 'access denied' errors") %}
          <li><a href="{{ item.url }}">
            <i class="fa fa-ban"></i>
            <div class="structure-wrap">
              <span class="label">{{ item.title }}</span>
              <div class="description">{{ item.description }}</div>
            </div>
          </a></li>

        {% elseif (item['title'] == "Top 'page not found' errors") %}
          <li><a href="{{ item.url }}">
            <i class="fa fa-warning"></i>
            <div class="structure-wrap">
              <span class="label">{{ item.title }}</span>
              <div class="description">{{ item.description }}</div>
            </div>
          </a></li>

        {% elseif (item['title'] == "Top search phrases") %}
          <li><a href="{{ item.url }}">
            <i class="fa fa-search"></i>
            <div class="structure-wrap">
              <span class="label">{{ item.title }}</span>
              <div class="description">{{ item.description }}</div>
            </div>
          </a></li>

        {% elseif (item['title'] == "Views plugins") %}
          <li><a href="{{ item.url }}">
            <i class="fa fa-plug"></i>
            <div class="structure-wrap">
              <span class="label">{{ item.title }}</span>
              <div class="description">{{ item.description }}</div>
            </div>
          </a></li>

        {% elseif (item['title'] == "Content") %}
          <li><a href="{{ item.url }}">
            <i class="fa fa-file-text"></i>
            <div class="structure-wrap">
              <span class="label">{{ item.title }}</span>
              <div class="description">{{ item.description }}</div>
            </div>
          </a></li>

        {% elseif (item['title'] == "Structure") %}
          <li><a href="{{ item.url }}">
            <i class="fa fa-sitemap"></i>
            <div class="structure-wrap">
              <span class="label">{{ item.title }}</span>
              <div class="description">{{ item.description }}</div>
            </div>
          </a></li>

        {% elseif (item['title'] == "Appearance") %}
          <li><a href="{{ item.url }}">
            <i class="fa fa-gear"></i>
            <div class="structure-wrap">
              <span class="label">{{ item.title }}</span>
              <div class="description">{{ item.description }}</div>
            </div>
          </a></li>

        {% elseif (item['title'] == "Extend") %}
          <li><a href="{{ item.url }}">
            <i class="fa fa-plug"></i>
            <div class="structure-wrap">
              <span class="label">{{ item.title }}</span>
              <div class="description">{{ item.description }}</div>
            </div>
          </a></li>

        {% elseif (item['title'] == "Configuration") %}
          <li><a href="{{ item.url }}">
            <i class="fa fa-gear"></i>
            <div class="structure-wrap">
              <span class="label">{{ item.title }}</span>
              <div class="description">{{ item.description }}</div>
            </div>
          </a></li>

        {% elseif (item['title'] == "People") %}
          <li><a href="{{ item.url }}">
            <i class="fa fa-users"></i>
            <div class="structure-wrap">
              <span class="label">{{ item.title }}</span>
              <div class="description">{{ item.description }}</div>
            </div>
          </a></li>

        {% elseif (item['title'] == "Reports") %}
          <li><a href="{{ item.url }}">
            <i class="fa fa-bug"></i>
            <div class="structure-wrap">
              <span class="label">{{ item.title }}</span>
              <div class="description">{{ item.description }}</div>
            </div>
          </a></li>

        {% elseif (item['title'] == "Help") %}
          <li><a href="{{ item.url }}">
            <i class="fa fa-info"></i>
            <div class="structure-wrap">
              <span class="label">{{ item.title }}</span>
              <div class="description">{{ item.description }}</div>
            </div>
          </a></li>

        {% else %}
          <li><a href="{{ item.url }}">
            <i class="fa fa-th hidden"></i>
            <div class="structure-wrap">
              <span class="label">{{ item.title }}</span>
              <div class="description">{{ item.description }}</div>
            </div>
          </a></li>
        {% endif %}

      {% endfor %}
    </ul>
  {% endif %}
</div>