{#
/**
 * @file
 * Theme override for a local task link.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper element.
 * - is_active: Whether the task item is an active tab.
 * - link: A rendered link element.
 *
 * Note: This template renders the content for each task item in
 * menu-local-tasks.html.twig.
 *
 * @see template_preprocess_menu_local_task()
 */
#}

{#<li{{ attributes.addClass(is_active ? 'is-active') }}>{{ link }}</li>#}

{% if (link['#title'] == "List") or (link['#title'].arguments['@local-task-title'] == "List") %}
    <li{{ attributes.addClass(is_active ? 'is-active') }}>
        <i {{ attributes.addClass('fa fa-list-ul') }}></i>{{ link }}
    </li>

{% elseif (link['#title'] == "Update") or (link['#title'].arguments['@local-task-title'] == "Update") %}
    <li{{ attributes.addClass(is_active ? 'is-active') }}>
        <i {{ attributes.addClass('fa fa-refresh') }}></i>{{ link }}
    </li>

{% elseif (link['#title'] == "Settings") or (link['#title'].arguments['@local-task-title'] == "Settings") %}
    <li{{ attributes.addClass(is_active ? 'is-active') }}>
        <i {{ attributes.addClass('fa fa-cogs') }}></i>{{ link }}
    </li>

{% elseif (link['#title'] == "Uninstall") or (link['#title'].arguments['@local-task-title'] == "Uninstall") %}
    <li{{ attributes.addClass(is_active ? 'is-active') }}>
        <i {{ attributes.addClass('fa fa-trash-o') }}></i>{{ link }}
    </li>

{% elseif (link['#title'] == "Content") or (link['#title'].arguments['@local-task-title'] == "Content") %}
    <li{{ attributes.addClass(is_active ? 'is-active') }}>
        <i {{ attributes.addClass('fa fa-file-text-o') }}></i>{{ link }}
    </li>

{% elseif (link['#title'] == "Comments") or (link['#title'].arguments['@local-task-title'] == "Comments") %}
    <li{{ attributes.addClass(is_active ? 'is-active') }}>
        <i {{ attributes.addClass('fa fa-comments-o') }}></i>{{ link }}
    </li>

{% elseif (link['#title'] == "Files") or (link['#title'].arguments['@local-task-title'] == "Files") %}
    <li{{ attributes.addClass(is_active ? 'is-active') }}>
        <i {{ attributes.addClass('fa fa-files-o') }}></i>{{ link }}
    </li>

{% elseif (link['#title'] == "Permissions") or (link['#title'].arguments['@local-task-title'] == "Permissions") %}
    <li{{ attributes.addClass(is_active ? 'is-active') }}>
        <i {{ attributes.addClass('fa fa-key') }}></i>{{ link }}
    </li>

{% elseif (link['#title'] == "Roles") or (link['#title'].arguments['@local-task-title'] == "Roles") %}
    <li{{ attributes.addClass(is_active ? 'is-active') }}>
        <i {{ attributes.addClass('fa fa-user-secret') }}></i>{{ link }}
    </li>

{% elseif (link['#title'] == "Block layout") or (link['#title'].arguments['@local-task-title'] == "Block layout") %}
    <li{{ attributes.addClass(is_active ? 'is-active') }}>
        <i {{ attributes.addClass('fa fa-th-large') }}></i>{{ link }}
    </li>

{% elseif (link['#title'] == "Custom block library") or (link['#title'].arguments['@local-task-title'] == "Custom block library") %}
    <li{{ attributes.addClass(is_active ? 'is-active') }}>
        <i {{ attributes.addClass('fa fa-book') }}></i>{{ link }}
    </li>

{% elseif (link['#title'] == "View") or (link['#title'].arguments['@local-task-title'] == "View") %}
    <li{{ attributes.addClass(is_active ? 'is-active') }}>
        <i {{ attributes.addClass('fa fa-eye') }}></i>{{ link }}
    </li>

{% elseif (link['#title'] == "Edit") or (link['#title'].arguments['@local-task-title'] == "Edit") %}
    <li{{ attributes.addClass(is_active ? 'is-active') }}>
        <i {{ attributes.addClass('fa fa-pencil') }}></i>{{ link }}
    </li>

{% elseif (link['#title'] == "Delete") or (link['#title'].arguments['@local-task-title'] == "Delete") %}
    <li{{ attributes.addClass(is_active ? 'is-active') }}>
        <i {{ attributes.addClass('fa fa-trash') }}></i>{{ link }}
    </li>

{% elseif (link['#title'] == "Tasks") or (link['#title'].arguments['@local-task-title'] == "Tasks") %}
    <li{{ attributes.addClass(is_active ? 'is-active') }}>
        <i {{ attributes.addClass('fa fa-tasks') }}></i>{{ link }}
    </li>

{% elseif (link['#title'] == "Index") or (link['#title'].arguments['@local-task-title'] == "Index") %}
    <li{{ attributes.addClass(is_active ? 'is-active') }}>
        <i {{ attributes.addClass('fa fa-file-text-o') }}></i>{{ link }}
    </li>

{% endif %}
